body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
aside {
  flex: 1;
  background-color: rgb(198, 186, 171);
  font-size: large;
}
article {
  flex: 2;
}

footer {
  font-size: small;
}
